<%- include('../includes/head.ejs') %>

  </head>

  <body>
    <!-- Header Section > nav -->
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (orders.length <= 0) { %>
      <h1>No Orders</h1>
      <% } else { %>
      <h1>Order History</h1>
      <ul>
        <% orders.forEach(order => {  %>
          <li>
            <h3>
              #<%= order._id %>
            </h3>
              <ul>
                <% order.products.forEach(p => { %>
                  <li><%= p.product.title %> (<%= p.quantity %>) - <a href=''>Invoice</a></li>
                <% }) %>
              </ul>
          </li>
        <% }) %>
        </ul> 
      <% } %> 
    </main>
    <%- include('../includes/end.ejs') %>
